In [1]:
#say x is a variable

x=5

In [2]:
#doesn't return any value,assignment doest provide any o/p

#now lets try some arithmetic operations

x+5

10

In [3]:
#lets assign value to another variable

y=2

x+y

7

In [5]:
#Variables are variables cause we can change the values ,it's a  container,we can add values,we multiply,we can replace it even

#lets try now,enough words!

x=9 #what would be the o/p

#ofcourse the new one

x

9

In [6]:
#Now lets try with some assignation of strings

name='Jehanat'

In [7]:
name

'Jehanat'

In [8]:
name[0]  #theletteratindex0.    array is a data structure of values of same data type. 0 1 2 3 4 5 6....

'J'

In [9]:
name[-1]

't'

In [11]:
'Hi ' + name

'Hi Jehanat'

In [13]:
name[0:5]

'Jehan'

In [20]:
name='Sabahat'

In [21]:
name

'Sabahat'

In [ ]:
#Python strings are immutable. However, name is not a string: it is a variable with a string value.
#You can't mutate the string, but can change what value of the variable to a new string.

In [22]:
#lets try to compute
name[0]='T'

TypeError: 'str' object does not support item assignment

In [23]:
#Above error is because string is immutable

'T'+name[1:10]

'Tabahat'

In [ ]:
#Happy Learning