In [1]:
#A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. 
# Each element or value that is inside of a list is called an item.
# Just as strings are defined as characters between quotes, 
# lists are defined by having values between square brackets [ ] .


list1=[20,21,23,24,26]
list2=[65,34,98,76,56]

list1

[20, 21, 23, 24, 26]

In [2]:
print(list1)

[20, 21, 23, 24, 26]

In [3]:
print(list2)

[65, 34, 98, 76, 56]

In [4]:
list1+list2

[20, 21, 23, 24, 26, 65, 34, 98, 76, 56]

In [5]:
list=list1+list2

In [6]:
list

[20, 21, 23, 24, 26, 65, 34, 98, 76, 56]

In [7]:
list[0]

20

In [8]:
list[2:]   #print all the values after index 2

[23, 24, 26, 65, 34, 98, 76, 56]

In [9]:
list.append(43)   #we can add only one element

In [10]:
list

[20, 21, 23, 24, 26, 65, 34, 98, 76, 56, 43]

In [11]:
list.insert(3,22)    #we can add elements at any place  (index,value)

In [12]:
list

[20, 21, 23, 22, 24, 26, 65, 34, 98, 76, 56, 43]

In [15]:
list.extend([4,1])     #add multiple values at the end

In [16]:
list

[20, 21, 23, 22, 24, 26, 65, 34, 98, 76, 56, 43, 4, 1]

In [20]:
list.pop(2)

23

In [25]:
list.pop()

1

In [26]:
sum(list)

489

In [27]:
max(list)

98

In [28]:
min(list)

4

In [29]:
list[0]="Jehanat"     #list is mutable,ordered,sequential

In [30]:
list

['Jehanat', 21, 22, 24, 26, 65, 34, 98, 76, 56, 43, 4]

In [31]:
list[0][1]

'e'